#container2 {
	margin: 0 auto;
	width: 800px;
	height: 800px;
	text-align:justify;
	background-color: #FFFFFF;
}

h2 {
	color: #e74c3c;
}

p {
	color: #000000;

}

body {
	background-image: url(/assets/img/blackbg.jpg);
}


a:link, a:visited{
	text-decoration: none;
	background-color:cc0066;
	text-align: center;
	
}
a:link, a:viited, a:hover, a:active{
	text-decoration: none;
	color:blue;
	text-align: center;
}

.row-404 {
    padding-top: 15em;
    padding-left: 7em;
}
.pt-5, .py-5 {
    padding-top: 1px!important;
}
